<h3 class="app-name">Restaurants</h3>
<div class="links">
  {{#link-to 'home' class="link-to" }}Home{{/link-to}}
  {{#link-to 'restaurants' class="link-to" }}Restaurants{{/link-to}}
  {{#link-to 'login' class="link-to" }}Login{{/link-to}}

</div>
{{yield}}
