<div class="container-footer">
	<div class="row-copyright">
    <span><h5><a href="#">Privacy Policy</a> <a href="#">Terms of use</a> <a href="#">Sitemap</a><a href="#">Mobile Site</a></h5></span>

	</div>
  <div class="row-footer-links">
      <span class="pull-right"><a href="#">About Us</a>  <a href="#">Blog</a>  <a href="#">Careers</a><a href="#">Press</a><a href="#">Advertise</a></span>
	</div>
	<p>Copyright ©2017 All Rights Reserved.</p>

</div>

{{yield}}
